/* ===== GENERAL ===== */
* {
  box-sizing: border-box;
}

/* ===================== GLOBAL ===================== */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "Arial Rounded MT", sans-serif;
  background-color: #FFFFFF;
  text-align: center;
  box-sizing: border-box;
  border-top: 2px solid #20a5d2;
  border-right: 2px solid #20a5d2;
  border-bottom: 2px solid #20a5d2;
  border-left: 2px solid #20a5d2;
}

.scale-container {
  width: 100%;
  height: 100%;
  transform-origin: top left;
}

/* ===== PAGE ===== */
.page {
  display: none;
  width: 100%;
  height: 100%;
  position: relative;
  text-align: center;
}

.page.active {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* ===== HOME PAGE ===== */
#homePage h1 {
  font-size: 2rem;
  margin-bottom: 40px;
  color: #003398;
}

#startBtn,
#playAgainBtn {
  padding: 8px 50px;
  background-color: #bddbe8;
  font-family: "Arial Rounded MT";
  font-size: 20px;
  color: #000000;
  border: none;
  outline: 3px solid #5daed1;
  outline-offset: 4px;
  border-radius: 100px;
  cursor: pointer;
}

#startBtn:hover,
#playAgainBtn:hover {
  background-color: #FFFFFF;
}


/* ===== GAME PAGE ===== */
#gamePage header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  padding: 1vh 0;
  background-color: none;
  box-shadow: none;
}

#gamePage h2 {
  font-family: "Arial Rounded MT";
  margin: 0;
  color: #006698;
}

.home-button {
  position: fixed;      /* fixed relative to viewport */
  top: 15px;            /* distance from top */
  right: 15px;          /* distance from right */
  width: 5vh;          /* size of the button */
  height: 5vh;         /* keep square shape */
  cursor: pointer;
  z-index: 1000;        /* stays on top of all elements */
}



/* ===== SHELF & OBJECTS ===== */
.shelf {
  position: relative;
  width: 95%;
  height: 50vh;
  margin-top: 2vh;
  background: linear-gradient(to bottom, #f7f7f7, #ececec);
  background: #FFFFFF;
  border-top: 0.5vh solid none;
  border-radius: 1vw;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(4vw, 1fr));
  justify-content: center;
  align-items: end;
  gap: 2vw;
  padding-bottom: 10vh;
  padding-inline: 5vw;
  overflow: visible;
}

.slot {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100%;
}

.visual-shelf {
  position: absolute;
  bottom: 10vh;
  left: 50%;
  transform: translateX(-50%);
  width: 95%;
  height: 4vh;
  background-color: #cccccc;
  border-top: 0.4vh solid #cccccc;
  z-index: 0;
}

/* ===== OBJECTS ===== */
.object {
  position: absolute;
  bottom: 0;
  cursor: grab;
  user-select: none;
  transition: transform 0.1s ease;
  z-index: 1;
  outline: 0.2vh dashed rgba(255, 0, 0, 0.2);
  min-height: none;
  min-width: none;
}

.big-ball, .football {
  width: 10vw;
  height: 10vw;
  clip-path: circle(50%);
}

.small-cube, .wood-cube {
  width: 8vw;
  height: 8vw;
  clip-path: inset(4%);
}

.thin-coin, .coin1, .coin5 {
  width: 7vw;
  height: 7vw;
  clip-path: circle(50%);
}

.pen, .color-ruler, .plastic-ruler, .pencil, .stick, .wood-ruler {
  width: 12vw;
  height: 12vw;
  clip-path: inset(1% 40% 1% 40%);
}

/* ===== HOLES ===== */
.holes-box {
  width: 80%;
  height: 30vh;
  background-color: #ffeaea;
  border: 0.5vh solid #cccccc;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 0.25vw;
  margin-top: 2vh;
}

.hole {
  width: 5vw;
  height: 5vw;
  /*border: 0.3vh dashed #aaa;*/
  border: 0.3vh solid #333333;;
  background-color: #333333;
  border-radius: 1vw;
  transition: 0.2s ease;
}

.hole.square {
  border-radius: 0%;
  width: 8vw;
  height: 8vw;
}

.hole.oval {
  margin-top: 5%;
  width: 12vh;
  height: 2vh;
  border-radius: 50%;
}

.hole.small-circle {
  margin-top: 5%;
  border-radius: 50%;
  width: 3vw;
  height: 3vw;
}

.hole.big-circle {
  border-radius: 50%;
  width: 8.5vw;
  height: 8.5vw;
}

.hole.thin-rect {
  margin-top: 5%;
  width: 8vw;
  height: 1.5vw;
  border-radius: 0%;
}

/*.hole.hovered {
  border-color: #4CAF50;
  background-color: #eaffea;
} */

/* ===== MEDIA QUERIES FOR RESPONSIVENESS ===== */
@media (max-width: 600px) { /* Laptop */
  .shelf {
    background: #cccccc;
  }




}


@media (max-width: 1024px) { /* Tablet */
  .shelf {
    grid-template-columns: repeat(5, 1fr); /* Stack objects, 7 objects on top */
    background: #cccccc;
    padding: 20px; /* adds inner spacing around the objects */
    padding-left: 30px;
    border-top: 20px solid #cccccc; /* Green thick border on top */

  }

  .visual-shelf {
    display: none; /* Hide visual shelf on smaller screens */
  }
  .object {
  min-height: 100px;
  min-width: 100px;
}
 
.holes-box {
  width: 100%;
  gap: 2px;

}

.hole.square{min-width:100px;min-height:100px}
.hole.oval{min-width:20px;min-height:3px}
.hole.small-circle{min-width:33px;min-height:33px}
.hole.big-circle{min-width:100px;min-height:100px}
.hole.thin-rect{min-width:75px;min-height:17px}

#gamePage h2 {
  font-size: 3.5vw;
}

}

@media (max-width: 432px) { /* Large phone */
  .shelf {
    grid-template-columns: repeat(5, 1fr); /* Stack objects, 7 objects on top */
    background: #cccccc;
    padding: 20px; /* adds inner spacing around the objects */
    padding-left: 20px;
    border-top: 20px solid #cccccc; /* Green thick border on top */

  }

  .visual-shelf {
    display: none; /* Hide visual shelf on smaller screens */
  }
  .object {
  min-height: 90px;
  min-width: 90px;
}

.holes-box {
  width: 100%;
  gap: 5px;
}

.hole.square{min-width:90px;min-height:90px}
.hole.oval{min-width:18px;min-height:3px}
.hole.small-circle{min-width:30px;min-height:30px}
.hole.big-circle{min-width:100px;min-height:100px}
.hole.thin-rect{min-width:67.5px;min-height:15px}

#gamePage h2 {
  margin-top: 40px;
  margin-left: 8px;
  margin-right: 8px;
  font-size: 5vw;
}


}

@media (max-width: 376px) { /* Medium phone */
  .shelf {
    grid-template-columns: repeat(5, 1fr); /* Stack objects, 7 objects on top */
    background: #cccccc;
    padding: 20px; /* adds inner spacing around the objects */
    padding-left: 10px;
    border-top: 20px solid #cccccc; /* Green thick border on top */

  }

  .visual-shelf {
    display: none; /* Hide visual shelf on smaller screens */
  }
  .object {
  min-height: 80px;
  min-width: 80px;
}

.holes-box {
  width: 99%;
  gap: 5px;
}

.hole.square{min-width:80px;min-height:80px}
.hole.oval{min-width:16px;min-height:3px}
.hole.small-circle{min-width:27px;min-height:27px}
.hole.big-circle{min-width:80px;min-height:80px}
.hole.thin-rect{min-width:60px;min-height:13px}

#gamePage h2 {
  margin-top: 40px;
  margin-left: 7px;
  margin-right: 7px;
  font-size: 5vw;
}

}

@media (max-width: 321px) { /* Small phone */
  .shelf {
    grid-template-columns: repeat(5, 1fr); /* Stack objects, 7 objects on top */
    background: #cccccc;
    padding: 20px; /* adds inner spacing around the objects */
    padding-left: 15px;
    border-top: 20px solid #cccccc; /* Green thick border on top */

  }

  .visual-shelf {
    display: none; /* Hide visual shelf on smaller screens */
  }
  .object {
  min-height: 70px;
  min-width: 70px;
}

.holes-box {
  width: 99%;
  gap: 2px;
}

.hole.square{min-width:60px;min-height:60px}
.hole.oval{min-width:12px;min-height:2px}
.hole.small-circle{min-width:20px;min-height:20px}
.hole.big-circle{min-width:60px;min-height:60px}
.hole.thin-rect{min-width:45px;min-height:10px}

#gamePage h2 {
  font-size: 3vw;
}


}


/* ===== HOME PAGE BOTTOM TEXT & IMAGE ===== */
.bottom-left-text {
  position: absolute;
  bottom: 20px;
  font-size: 1.4vh;
  color: #006698;
  left: 20px; 
}

.bottom-right-container {
  position: absolute;
  bottom: 1vh;
  right: 1vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bottom-right-image {
  width: 150px;
  display: block;
  margin: 0 auto;
}

.bottom-right-text {
  font-family: Arial, sans-serif; /* built-in different font */
  font-size: 0.8rem;
  color: #000000;
  margin-top: 5px;
}

/* ===== FINAL PAGE ===== */
#finalPage {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#finalPage.active {
  display: flex;
}


.congrats-image {
  width: 50vh; /* Adjust as needed */
  display: block;
  margin: 0 auto 20px;
}

.object:active {
  cursor: grabbing !important;
}
